* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New';
}

#donut {
    max-width: 300px !important;
    max-height: 300px !important;
}

#myChart3 {
    max-width: 300px !important;
    max-height: 300px !important;
}

#myChart {
    max-width: 700px !important;
    max-height: 400px !important;
}

#myChart2 {
    max-width: 700px !important;
    max-height: 400px !important;
}

.container {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
}


header {
    background-color: #00235B;
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
    color: aliceblue;
}

.title {
    padding-left: 1em;
}

.name {
    padding-right: 1em;
    padding-bottom: 0.5em;
}
.member{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    display: flex;
}
.left_con{
    display: block;
    justify-content: center;
    align-items: center;
    
}